p {
  &.scss_test {
    font-size: 3em;
  }
}

.contents {
  display: flex;
  margin: 0 auto;
}

.main {
  flex: 6;
}

.topicMain {
  flex: 6;
  margin-right: 10%;
}

.aside {
  flex: 3;
}

.nav {
  flex: 2;
  position: fixed;
}

.blank {
  flex: 2;
}

@media screen and (max-width: 940px) {
  .topicMain {
    margin: 0;
  }
  .nav {
    display: none;
  }
  .blank {
    display: none;
  }
  .contents {
    flex-direction: column;
  }
}
